<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>
    <%= __('MEETING_ROOM') %>
  </title>
  <link href="https://unpkg.com/video.js/dist/video-js.css" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <ul class="pages">
    <li class="chat page">
      <div class="chatArea">
        <ul class="messages"></ul>
      </div>
      <input class="inputMessage" placeholder="..." />
    </li>
    <li class="login page">
      <form class="form">
        <p>
          <label for="username" class="title">
            <%= __('WHAT_S_YOUR_NAME') %>
          </label>
          <input id="username" class="usernameInput js-usernameInput" type="text" maxlength="14" required/>

        </p>

        <p>
          <label for="password" class="title">
            <%= __('PASSWORD') %>
          </label>
          <input id="password" class="usernameInput js-passwordInput" type="password" />
        </p>

        <p class="center">
          <button class="submit">
            <%= __('ENTER') %>
          </button>
        </p>

      </form>
    </li>
  </ul>

  <div class="videoContainer">
    <!-- <video id="video" class="video-js vjs-default-skin" controls  width="640" preload="auto" autoplay height="268" data-setup='{}'>
			<source src="videos/output.m3u8" type="application/x-mpegURL">
		</video> -->
  </div>

  <script src="https://unpkg.com/video.js/dist/video.js"></script>
  <script src="https://unpkg.com/videojs-contrib-hls/dist/videojs-contrib-hls.js"></script>

  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <!-- based on socket io chat by Grant Timmerman -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="/main.js"></script>
</body>

</html>
